.skills {
    padding: 6.5rem 0;
    background-color: rgb(248,249,250);

    .skills_wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        /*grid-template-rows: 1fr 1fr;*/
        grid-column-gap: 180px;
        grid-row-gap: 4rem;

    }

}
