
.wrapperUpperblock {
  width: 25vw;
  .blockTitle {
    color: #6c757d;
    font-weight: 500;
    line-height: 1.8;
    font-size: 1rem;
    margin: 0;
    text-align: left;
    @media screen and (max-width: 465px) {
      text-align: center;
    }
  }
  .blockText {
    font-size: 1.125rem;
    line-height: 1.8;
    font-weight: 600;
    margin: 0;
    text-align: left;
    @media screen and (max-width: 465px) {
      text-align: center;
    }
  }
  @media screen and (max-width: 1046px) {
      width: 40vw;
  }
}
