.section {
    padding: 6.5rem 0;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 874px) {
    .wrapper {
        justify-content: center;
    }
}