$textColor: #000;
$secondTextColor: #fff;
$thirdTextColor: #dee3e4;
$fourthTextColor: #252b33;
$fifthTextColor: #8e9a9d;
$sixTextColor: #0d6efd;
$primaryColor: #f5df4e;
$bgFirstColor: #fff;
$bgSecondColor: #f8f9fa;
$bgThirdColor: #000;
$bgFourthColor: #F8F9FAFF;
$bgButtonColor: #212529;
$bgHoverButtonColor: rgba(0, 0, 0, 0.15)