//@import "./src/common/sass/variables";
@import "src/common/sass/variables";

.socials {
    display: flex;
    width: 148px;
    justify-content: space-between;
    .socialNetwork {
        width: 26px;
        height: 26px;
        .socialLinks {
            text-decoration: none;
        }
        .iconStyle {
            /*width: 100%;*/
            height: 100%;
            //color: #4d555a;
            color: $fifthTextColor;
            transition: 0.5s;
            &:hover {
                transform: scale(1.2);
                color: $sixTextColor;
            }
        }
    }

}




