.project {
    margin-top: 10px;
    width: 350px;
    height: 350px;
    //background-color: #61dafb;
    display: flex;
    justify-content: center;
    align-items: center;
    //:hover {
    //    transition-duration: 0.5s;
    //    transform: scale(1.02);
    //}
}

