@import '../../sass/variables';

.linkStyle {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  //transition: 1s all;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: '';
    background-color: $bgThirdColor;
    opacity: 0.7;
  }

  .img {
    text-align: center;
    filter: invert(93%) sepia(36%) saturate(7479%) hue-rotate(318deg) brightness(109%) contrast(103%);
    height: 3rem;
    margin-bottom: 25px;
    opacity: 1;
    z-index: 5;
  }

  .header {
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.2rem;
    color: $thirdTextColor;
    z-index: 5;
  }

  .subheader {
    margin: 0;
    color: $thirdTextColor;
    z-index: 5;
  }
}




