.aboutMe {
    padding: 6.5rem 0;
}
.wrapperBlock1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.wrapper_description {
    display: flex;
    flex-direction: column;
    width: 65%;
    text-align: left;
}
.wrapper_description h2 {
    font-size: 2rem;
    margin: 0 0 16px 0;
    font-weight: 500;
}
.wrapper_description h2 span{
    font-weight: 900;
    border-bottom: 4px solid #f5df4e;
}
.wrapper_description p {
    margin: 0 0 16px 0;
    line-height: 1.8;
    font-size: 1.3125rem
}
.wrapper_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper_box div {
    position: relative;
    width: 175px;
    height: 175px;
}
.wrapper_box div div {
    position: absolute;
    background-color: #f5df4e;
    border-radius: 100%;
    width: 175px;
    height: 175px;
}
.wrapper_box div div span {
    position: absolute;
    font-size: 13rem;
    margin: 0;
    line-height: 0.9;
    left: 0;
    right: 0;
}
.wrapper_box h3 {
    font-size: 1.7rem;
    font-weight: 500;
}
.wrapper_box h3 span {
    font-weight: 900;
}
.wrapperBlock2 {
    display: flex;
    margin-top: 1.5rem
}


@media screen and (max-width: 1046px) {
    .wrapper {
        justify-content: center;
        text-align: center;
    }
    .wrapperBlock2 {
        flex-wrap: wrap;
    }
}
