@import "src/common/sass/variables";

.footer {
  padding: 1rem 0;
  background-color: $bgThirdColor;

  div {
    margin: 10px auto;
  }

  .footer_title {
    color: $secondTextColor;
    margin: 0;
  }

  .footer_subtitle {
    color: $secondTextColor;
    margin: 0;
  }
}

