.footer {
  padding: 1rem 0;
  background-color: black;

  div {
    margin: 10px auto;
  }

  .footer_title {
    color: white;
    margin: 0;
  }

  .footer_subtitle {
    color: white;
    margin: 0;
  }
}

